.banner {
	background-image: url(../../images/jdm-night-ping-drift.png);
	color: white;
	padding: 120px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 80px;
	font-weight: bolder;
}

.banner h2 {
	font-size: 45px;
	margin-bottom: 50px;
}